## 1. The oldest businesses in the world
<p>This is Staffelter Hof Winery, Germany's oldest business, which was established in 862 under the Carolingian dynasty. It has continued to serve customers through dramatic changes in Europe such as the Holy Roman Empire, the Ottoman Empire, and both world wars. What characteristics enable a business to stand the test of time? Image credit: <a href="https://commons.wikimedia.org/wiki/File:MKn_Staffelter_Hof.jpg">Martin Kraft</a>
<img src="https://assets.datacamp.com/production/project_1383/./img/MKn_Staffelter_Hof.jpeg" alt="The entrance to Staffelter Hof Winery, a German winery established in 862." width="400"></p>
<p>To help answer this question, BusinessFinancing.co.uk <a href="https://businessfinancing.co.uk/the-oldest-company-in-almost-every-country">researched</a> the oldest company that is still in business in almost every country and compiled the results into a dataset. Let's explore this work to to better understand these historic businesses. Our datasets, which are all located in the <code>datasets</code> directory, contain the following information: </p>
<h3 id="businessesandnew_businesses"><code>businesses</code> and <code>new_businesses</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>business</code></td>
<td>varchar</td>
<td>Name of the business.</td>
</tr>
<tr>
<td style="text-align:left;"><code>year_founded</code></td>
<td>int</td>
<td>Year the business was founded.</td>
</tr>
<tr>
<td style="text-align:left;"><code>category_code</code></td>
<td>varchar</td>
<td>Code for the category of the business.</td>
</tr>
<tr>
<td style="text-align:left;"><code>country_code</code></td>
<td>char</td>
<td>ISO 3166-1 3-letter country code.</td>
</tr>
</tbody>
</table>
<h3 id="countries"><code>countries</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>country_code</code></td>
<td>varchar</td>
<td>ISO 3166-1 3-letter country code.</td>
</tr>
<tr>
<td style="text-align:left;"><code>country</code></td>
<td>varchar</td>
<td>Name of the country.</td>
</tr>
<tr>
<td style="text-align:left;"><code>continent</code></td>
<td>varchar</td>
<td>Name of the continent that the country exists in.</td>
</tr>
</tbody>
</table>
<h3 id="categories"><code>categories</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>category_code</code></td>
<td>varchar</td>
<td>Code for the category of the business.</td>
</tr>
<tr>
<td style="text-align:left;"><code>category</code></td>
<td>varchar</td>
<td>Description of the business category.</td>
</tr>
</tbody>
</table>
<p>Now let's learn about some of the world's oldest businesses still in operation!</p>

In [168]:
# Import the pandas library under its usual alias
import pandas as pd

# Load the business.csv file as a DataFrame called businesses
businesses = pd.read_csv("datasets/businesses.csv")

# Sort businesses from oldest businesses to youngest
sorted_businesses = businesses.sort_values("year_founded")

# Display the first few lines of sorted_businesses

print(sorted_businesses.shape[0])
sorted_businesses.head()

163

                        business  year_founded category_code country_code
64                    Kongō Gumi           578          CAT6          JPN
94   St. Peter Stifts Kulinarium           803          CAT4          AUT
107        Staffelter Hof Winery           862          CAT9          DEU
106            Monnaie de Paris            864         CAT12          FRA
103               The Royal Mint           886         CAT12          GBR

## 2. The oldest businesses in North America
<p>So far we've learned that Kongō Gumi is the world's oldest continuously operating business, beating out the second oldest business by well over 100 years! It's a little hard to read the country codes, though. Wouldn't it be nice if we had a list of country names to go along with the country codes?</p>
<p>Enter <code>countries.csv</code>, which is also located in the <code>datasets</code> folder. Having useful information in different files is a common problem: for data storage, it's better to keep different types of data separate, but for analysis, we want all the data in one place. To solve this, we'll have to join the two tables together. </p>
<h3 id="countries"><code>countries</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>country_code</code></td>
<td>varchar</td>
<td>ISO 3166-1 3-letter country code.</td>
</tr>
<tr>
<td style="text-align:left;"><code>country</code></td>
<td>varchar</td>
<td>Name of the country.</td>
</tr>
<tr>
<td style="text-align:left;"><code>continent</code></td>
<td>varchar</td>
<td>Name of the continent that the country exists in.</td>
</tr>
</tbody>
</table>
<p>Since <code>countries.csv</code> contains a <code>continent</code> column, merging the datasets will also allow us to look at the oldest business on each continent! </p>

In [170]:
# Load countries.csv to a DataFrame
countries = pd.read_csv("datasets/countries.csv")

# Merge sorted_businesses with countries
businesses_countries = sorted_businesses.merge(countries , on='country_code')
businesses_countries

,business,year_founded,category_code,country_code,country,continent
0,Kongō Gumi,578,CAT6,JPN,Japan,Asia
1,St. Peter Stifts Kulinarium,803,CAT4,AUT,Austria,Europe
2,Staffelter Hof Winery,862,CAT9,DEU,Germany,Europe
3,Monnaie de Paris,864,CAT12,FRA,France,Europe
4,The Royal Mint,886,CAT12,GBR,United Kingdom,Europe
5,Sean's Bar,900,CAT4,IRL,Ireland,Europe
6,Marinelli Bell Foundry,1040,CAT12,ITA,Italy,Europe
7,Affligem Brewery,1074,CAT9,BEL,Belgium,Europe
8,Munke Mølle,1135,CAT12,DNK,Denmark,Europe
9,Ma Yu Ching's Bucket Chicken House,1153,CAT4,CHN,China,Asia
10,Casa de Ganaderos,1218,CAT1,ESP,Spain,Europe
11,Gasthof Sternen,1230,CAT19,CHE,Switzerland,Europe
12,Bochnia Salt Mine,1248,CAT15,POL,Poland,Europe
13,Drohobych salt plant,1250,CAT12,UKR,Ukraine,Europe
14,Kremnica Mint,1328,CAT12,SVK,Slovakia,Europe
15,The Brand Brewery,1340,CAT9,NLD,Netherlands,Europe
16,Skyllbergs bruk,1346,CAT12,SWE,Sweden,Europe
17,Pivovar Broumov,1348,CAT9,CZE,Czechia,Europe
18,Raeapteek,1422,CAT14,EST,Estonia,Europe
19,Gostilna Gastuž,1467,CAT19,SVN,Slovenia,Europe
20,Mousel,1511,CAT9,LUX,Luxembourg,Europe
21,CTT-Correios de Portugal SA,1520,CAT16,PRT,Portugal,Europe
22,La Casa de Moneda de México,1534,CAT12,MEX,Mexico,North America
23,Casa Nacional de Moneda,1565,CAT3,PER,Peru,South America
24,Çemberlitaş Hamamı,1584,CAT19,TUR,Turkey,Asia
25,Cēsu Alus,1590,CAT9,LVA,Latvia,Europe
26,Piraeus Bank,1606,CAT3,GRC,Greece,Europe
27,Casa de Moneda de Colombia,1621,CAT12,COL,Colombia,South America
28,Shirley Plantation,1638,CAT1,USA,United States,North America
29,Posten Norge,1647,CAT16,NOR,Norway,Europe
...,...,...,...,...,...,...
133,Cameroon Development Corporation,1947,CAT1,CMR,Cameroon,Africa
134,Myanmar National Airlines,1948,CAT2,MMR,Myanmar,Asia
135,Salam International Investment Limited,1952,CAT5,QAT,Qatar,Asia
136,National Bank of Cambodia,1954,CAT3,KHM,Cambodia,Asia
137,Brarudi,1955,CAT9,BDI,Burundi,Africa
138,Office de Radiodiffusion-Télévision du Mali,1957,CAT13,MLI,Mali,Africa
139,Tashi Group,1959,CAT2,BTN,Bhutan,Asia
140,Electricite du Laos,1959,CAT10,LAO,Lao People's Democratic Republic,Asia
141,Office of Radio and Television of Niger,1960,CAT13,NER,Niger,Africa
142,Halco Mining,1962,CAT15,GIN,Guinea,Africa
143,Yemenia Airways,1962,CAT2,YEM,Yemen,Asia
144,Air Madagascar,1962,CAT2,MDG,Madagascar,Africa
145,Swazi Rail,1963,CAT2,SWZ,Eswatini,Africa
146,Malawi Broadcasting Corporation,1964,CAT13,MWI,Malawi,Africa
147,Botswana Meat Commission,1965,CAT1,BWA,Botswana,Africa
148,Air Burkina,1967,CAT2,BFA,Burkina Faso,Africa
149,Communauté Électrique du Bénin,1968,CAT10,BEN,Benin,Africa
150,BGFIBank Group,1971,CAT3,GAB,Gabon,Africa
151,Cotontchad,1971,CAT1,TCD,Chad,Africa
152,Central Bank of Mauritania,1973,CAT3,MRT,Mauritania,Africa
153,Correios da Guiné-Bissau,1973,CAT16,GNB,Guinea-Bissau,Africa
154,Central Bank of São Tomé and Príncipe,1975,CAT3,STP,Sao Tome and Principe,Africa
155,Development Bank of the Central African States,1975,CAT3,COG,Congo,Africa
156,Air Seychelles,1977,CAT2,SYC,Seychelles,Asia
157,Central Bank of Lesotho,1978,CAT3,LSO,Lesotho,Africa
158,Central Bank of the Comoros,1981,CAT3,COM,Comoros,Africa
159,European Trust Company,1991,CAT3,VUT,Vanuatu,Oceania
160,Ivory Bank,1994,CAT3,SSD,South Sudan,Africa
161,Guinea Ecuatorial Airlines,1996,CAT2,GNQ,Equatorial Guinea,Africa
162,Meridian Corporation,1999,CAT13,XK,Kosovo,Europe

In [171]:
# Import the pandas library under its usual alias
import pandas as pd

# Load the business.csv file as a DataFrame called businesses
businesses = pd.read_csv("datasets/businesses.csv")
# Load countries.csv to a DataFrame
countries = pd.read_csv("datasets/countries.csv")

# Merge sorted_businesses with countries
businesses_countries = sorted_businesses.merge(countries , on='country_code')

# Filter businesses_countries to include countries in North America only
north_america = businesses_countries[businesses_countries['continent']== 'North America']
print(north_america.shape[0])
north_america.head()

17

,business,year_founded,category_code,country_code,country,continent
22,La Casa de Moneda de México,1534,CAT12,MEX,Mexico,North America
28,Shirley Plantation,1638,CAT1,USA,United States,North America
33,Hudson's Bay Company,1670,CAT17,CAN,Canada,North America
35,Mount Gay Rum,1703,CAT9,BRB,Barbados,North America
40,Rose Hall,1770,CAT19,JAM,Jamaica,North America

## 3. The oldest business on each continent
<p>Now we can see that the oldest company in North America is La Casa de Moneda de México, founded in 1534. Why stop there, though, when we could easily find out the oldest business on every continent? </p>

In [173]:
# Create continent, which lists only the continent and oldest year_founded
continent = businesses_countries.groupby("continent").agg({"year_founded":"min"})

# Merge continent with businesses_countries
merged_continent = continent.merge(businesses_countries, on=["continent", "year_founded"])

# Subset continent so that only the four columns of interest are included
subset_merged_continent = merged_continent[["continent", "country", "business", "year_founded"]]
subset_merged_continent

       continent    country                     business  year_founded
0         Africa  Mauritius               Mauritius Post          1772
1           Asia      Japan                   Kongō Gumi           578
2         Europe    Austria  St. Peter Stifts Kulinarium           803
3  North America     Mexico  La Casa de Moneda de México          1534
4        Oceania  Australia               Australia Post          1809
5  South America       Peru      Casa Nacional de Moneda          1565

In [174]:
# Create continent, which lists only the continent and oldest year_founded
continent = businesses_countries.groupby('continent').agg({'year_founded':'min'})

continent

               year_founded
continent
Africa                 1772
Asia                    578
Europe                  803
North America          1534
Oceania                1809
South America          1565

In [176]:

# Merge continent with businesses_countries
merged_continent = continent.merge(businesses_countries,on=["continent", "year_founded"])
merged_continent

,continent,year_founded,business,category_code,country_code,country
0,Africa,1772,Mauritius Post,CAT16,MUS,Mauritius
1,Asia,578,Kongō Gumi,CAT6,JPN,Japan
2,Europe,803,St. Peter Stifts Kulinarium,CAT4,AUT,Austria
3,North America,1534,La Casa de Moneda de México,CAT12,MEX,Mexico
4,Oceania,1809,Australia Post,CAT16,AUS,Australia
5,South America,1565,Casa Nacional de Moneda,CAT3,PER,Peru

In [177]:
# Subset continent so that only the four columns of interest are included
subset_merged_continent =merged_continent[['continent', 'country', 'business', 'year_founded']]
subset_merged_continent

       continent    country                     business  year_founded
0         Africa  Mauritius               Mauritius Post          1772
1           Asia      Japan                   Kongō Gumi           578
2         Europe    Austria  St. Peter Stifts Kulinarium           803
3  North America     Mexico  La Casa de Moneda de México          1534
4        Oceania  Australia               Australia Post          1809
5  South America       Peru      Casa Nacional de Moneda          1565

## 4. Unknown oldest businesses
<p>BusinessFinancing.co.uk wasn't able to determine the oldest business for some countries, and those countries are simply left off of <code>businesses.csv</code> and, by extension, <code>businesses</code>. However, the <code>countries</code> that we created <em>does</em> include all countries in the world, regardless of whether the oldest business is known. </p>
<p>We can compare the two datasets in one DataFrame to find out which countries don't have a known oldest business! </p>

In [178]:

all_countries = businesses.merge(countries,on='country_code', how='right', indicator=True)
# Filter to include only countries without oldest businesses
missing_countries = all_countries[all_countries['_merge'] != 'both' ]

# Create a series of the country names with missing oldest business data
missing_countries_series = missing_countries['country']

# Display the series
missing_countries_series
print(all_countries)

                                           business  year_founded  \
0                                    Hamoud Boualem        1878.0
1                    Communauté Électrique du Bénin        1968.0
2                          Botswana Meat Commission        1965.0
3                                       Air Burkina        1967.0
4                                           Brarudi        1955.0
5                  Cameroon Development Corporation        1947.0
6                            Correios de Cabo Verde        1849.0
7        Banque Internationale pour la Centrafrique        1946.0
8                                        Cotontchad        1971.0
9                       Central Bank of the Comoros        1981.0
10    Société nationale des Chemins de fer du Congo        1889.0
11   Development Bank of the Central African States        1975.0
12                                         La Poste        1945.0
13                          Ethio-Djibouti Railways        1901.0
14                       Egyptian National Railways        1854.0
15                       Guinea Ecuatorial Airlines        1996.0
16                                   Asmara Brewery        1939.0
17                        National Bank of Ethiopia        1906.0
18                                   BGFIBank Group        1971.0
19                                     Halco Mining        1962.0
20                         Correios da Guiné-Bissau        1973.0
21                                KCB Group Limited        1896.0
22                          Central Bank of Lesotho        1978.0
23                          National Port Authority        1921.0
24                                        Umma Bank        1907.0
25                                   Air Madagascar        1962.0
26                  Malawi Broadcasting Corporation        1964.0
27      Office de Radiodiffusion-Télévision du Mali        1957.0
28                       Central Bank of Mauritania        1973.0
29                                   Mauritius Post        1772.0
..                                              ...           ...
165                                             NaN           NaN
166                                             NaN           NaN
167                                             NaN           NaN
168                                             NaN           NaN
169                                             NaN           NaN
170                                             NaN           NaN
171                                             NaN           NaN
172                                             NaN           NaN
173                                             NaN           NaN
174                                             NaN           NaN
175                                             NaN           NaN
176                                             NaN           NaN
177                                             NaN           NaN
178                                             NaN           NaN
179                                             NaN           NaN
180                                             NaN           NaN
181                                             NaN           NaN
182                                             NaN           NaN
183                                             NaN           NaN
184                                             NaN           NaN
185                                             NaN           NaN
186                                             NaN           NaN
187                                             NaN           NaN
188                                             NaN           NaN
189                                             NaN           NaN
190                                             NaN           NaN
191                                             NaN           NaN
192                                             NaN           NaN
193                                             NaN           NaN
194                                             NaN           NaN

    category_code country_code                                country  \
0           CAT11          DZA                                Algeria
1           CAT10          BEN                                  Benin
2            CAT1          BWA                               Botswana
3            CAT2          BFA                           Burkina Faso
4            CAT9          BDI                                Burundi
5            CAT1          CMR                               Cameroon
6           CAT16          CPV                             Cabo Verde
7            CAT3          CAF               Central African Republic
8            CAT1          TCD                                   Chad
9            CAT3          COM                                Comoros
10           CAT2          COD  Congo, The Democratic Republic of the
11           CAT3          COG                                  Congo
12          CAT16          CIV                          Côte d'Ivoire
13           CAT2          DJI                               Djibouti
14           CAT2          EGY                                  Egypt
15           CAT2          GNQ                      Equatorial Guinea
16           CAT9          ERI                                Eritrea
17           CAT3          ETH                               Ethiopia
18           CAT3          GAB                                  Gabon
19          CAT15          GIN                                 Guinea
20          CAT16          GNB                          Guinea-Bissau
21           CAT3          KEN                                  Kenya
22           CAT3          LSO                                Lesotho
23           CAT2          LBR                                Liberia
24           CAT3          LBY                                  Libya
25           CAT2          MDG                             Madagascar
26          CAT13          MWI                                 Malawi
27          CAT13          MLI                                   Mali
28           CAT3          MRT                             Mauritania
29          CAT16          MUS                              Mauritius
..            ...          ...                                    ...
165           NaN          BHS                                Bahamas
166           NaN          DOM                     Dominican Republic
167           NaN          ECU                                Ecuador
168           NaN          FJI                                   Fiji
169           NaN          FSM        Micronesia, Federated States of
170           NaN          GHA                                  Ghana
171           NaN          GMB                                 Gambia
172           NaN          GRD                                Grenada
173           NaN          IRN              Iran, Islamic Republic of
174           NaN          KGZ                             Kyrgyzstan
175           NaN          KIR                               Kiribati
176           NaN          KNA                  Saint Kitts and Nevis
177           NaN          MCO                                 Monaco
178           NaN          MDA                   Moldova, Republic of
179           NaN          MDV                               Maldives
180           NaN          MHL                       Marshall Islands
181           NaN          NRU                                  Nauru
182           NaN          PLW                                  Palau
183           NaN          PNG                       Papua New Guinea
184           NaN          PRY                               Paraguay
185           NaN          PSE                    Palestine, State of
186           NaN          SLB                        Solomon Islands
187           NaN          SUR                               Suriname
188           NaN          TJK                             Tajikistan
189           NaN          TKM                           Turkmenistan
190           NaN          TLS                            Timor-Leste
191           NaN          TON                                  Tonga
192           NaN          TUV                                 Tuvalu
193           NaN          VCT       Saint Vincent and the Grenadines
194           NaN          WSM                                  Samoa

         continent      _merge
0           Africa        both
1           Africa        both
2           Africa        both
3           Africa        both
4           Africa        both
5           Africa        both
6           Africa        both
7           Africa        both
8           Africa        both
9           Africa        both
10          Africa        both
11          Africa        both
12          Africa        both
13          Africa        both
14          Africa        both
15          Africa        both
16          Africa        both
17          Africa        both
18          Africa        both
19          Africa        both
20          Africa        both
21          Africa        both
22          Africa        both
23          Africa        both
24          Africa        both
25          Africa        both
26          Africa        both
27          Africa        both
28          Africa        both
29          Africa        both
..             ...         ...
165  North America  right_only
166  North America  right_only
167  South America  right_only
168        Oceania  right_only
169        Oceania  right_only
170         Africa  right_only
171         Africa  right_only
172  North America  right_only
173           Asia  right_only
174           Asia  right_only
175        Oceania  right_only
176  North America  right_only
177         Europe  right_only
178         Europe  right_only
179           Asia  right_only
180        Oceania  right_only
181        Oceania  right_only
182        Oceania  right_only
183        Oceania  right_only
184  South America  right_only
185           Asia  right_only
186        Oceania  right_only
187  South America  right_only
188           Asia  right_only
189           Asia  right_only
190           Asia  right_only
191        Oceania  right_only
192        Oceania  right_only
193  North America  right_only
194        Oceania  right_only

[195 rows x 7 columns]

In [179]:
import pandas as pd
# Load the business.csv file as a DataFrame called businesses
businesses = pd.read_csv("datasets/businesses.csv")
# Load countries.csv to a DataFrame
countries = pd.read_csv("datasets/countries.csv")
# Use .merge() to create a DataFrame, all_countries
all_countries = businesses.merge(countries, on="country_code", how="right",  indicator=True)
# Filter to include only countries without oldest businesses
missing_countries = all_countries[all_countries["_merge"] != "both"]

# Create a series of the country names with missing oldest business data
missing_countries_series = missing_countries["country"]

# Display the series
missing_countries_series

163                              Angola
164                 Antigua and Barbuda
165                             Bahamas
166                  Dominican Republic
167                             Ecuador
168                                Fiji
169     Micronesia, Federated States of
170                               Ghana
171                              Gambia
172                             Grenada
173           Iran, Islamic Republic of
174                          Kyrgyzstan
175                            Kiribati
176               Saint Kitts and Nevis
177                              Monaco
178                Moldova, Republic of
179                            Maldives
180                    Marshall Islands
181                               Nauru
182                               Palau
183                    Papua New Guinea
184                            Paraguay
185                 Palestine, State of
186                     Solomon Islands
187                            Suriname
188                          Tajikistan
189                        Turkmenistan
190                         Timor-Leste
191                               Tonga
192                              Tuvalu
193    Saint Vincent and the Grenadines
194                               Samoa
Name: country, dtype: object

## 5. Adding new oldest business data
<p>It looks like we've got some holes in our dataset! Fortunately, we've taken it upon ourselves to improve upon BusinessFinancing.co.uk's work and find oldest businesses in a few of the missing countries. We've stored the newfound oldest businesses in <code>new_businesses</code>, located at <code>"datasets/new_businesses.csv"</code>. It has the exact same structure as our <code>businesses</code> dataset. </p>
<h3 id="new_businesses"><code>new_businesses</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>business</code></td>
<td>varchar</td>
<td>Name of the business.</td>
</tr>
<tr>
<td style="text-align:left;"><code>year_founded</code></td>
<td>int</td>
<td>Year the business was founded.</td>
</tr>
<tr>
<td style="text-align:left;"><code>category_code</code></td>
<td>varchar</td>
<td>Code for the category of the business.</td>
</tr>
<tr>
<td style="text-align:left;"><code>country_code</code></td>
<td>char</td>
<td>ISO 3166-1 3-letter country code.</td>
</tr>
</tbody>
</table>
<p>All we have to do is combine the two so that we've got one more complete list of businesses!</p>

In [181]:
# Import new_businesses.csv
new_businesses = pd.read_csv("datasets/new_businesses.csv")

# Add the data in new_businesses to the existing businesses
all_businesses = pd.concat([new_businesses, businesses])

# Merge and filter to find countries with missing business data
new_all_countries = all_businesses.merge(countries, on="country_code", how="outer",  indicator=True)
new_missing_countries = new_all_countries[new_all_countries["_merge"] != "both"]

# Group by continent and create a "count_missing" column
count_missing = new_missing_countries.groupby("continent").agg({"country":"count"})
count_missing.columns = ["count_missing"]
count_missing

               count_missing
continent
Africa                     3
Asia                       7
Europe                     2
North America              5
Oceania                   10
South America              3

In [182]:
# Import new_businesses.csv
new_businesses = pd.read_csv("datasets/new_businesses.csv")
new_businesses

                    business  year_founded category_code country_code
0                 Fiji Times          1869         CAT13          FJI
1  J. Armando Bermúdez & Co.          1852          CAT9          DOM

In [183]:
# Add the data in new_businesses to the existing businesses
all_businesses = pd.concat([new_businesses, businesses])
all_businesses

,business,year_founded,category_code,country_code
0,Fiji Times,1869,CAT13,FJI
1,J. Armando Bermúdez & Co.,1852,CAT9,DOM
0,Hamoud Boualem,1878,CAT11,DZA
1,Communauté Électrique du Bénin,1968,CAT10,BEN
2,Botswana Meat Commission,1965,CAT1,BWA
3,Air Burkina,1967,CAT2,BFA
4,Brarudi,1955,CAT9,BDI
5,Cameroon Development Corporation,1947,CAT1,CMR
6,Correios de Cabo Verde,1849,CAT16,CPV
7,Banque Internationale pour la Centrafrique,1946,CAT3,CAF
8,Cotontchad,1971,CAT1,TCD
9,Central Bank of the Comoros,1981,CAT3,COM
10,Société nationale des Chemins de fer du Congo,1889,CAT2,COD
11,Development Bank of the Central African States,1975,CAT3,COG
12,La Poste,1945,CAT16,CIV
13,Ethio-Djibouti Railways,1901,CAT2,DJI
14,Egyptian National Railways,1854,CAT2,EGY
15,Guinea Ecuatorial Airlines,1996,CAT2,GNQ
16,Asmara Brewery,1939,CAT9,ERI
17,National Bank of Ethiopia,1906,CAT3,ETH
18,BGFIBank Group,1971,CAT3,GAB
19,Halco Mining,1962,CAT15,GIN
20,Correios da Guiné-Bissau,1973,CAT16,GNB
21,KCB Group Limited,1896,CAT3,KEN
22,Central Bank of Lesotho,1978,CAT3,LSO
23,National Port Authority,1921,CAT2,LBR
24,Umma Bank,1907,CAT3,LBY
25,Air Madagascar,1962,CAT2,MDG
26,Malawi Broadcasting Corporation,1964,CAT13,MWI
27,Office de Radiodiffusion-Télévision du Mali,1957,CAT13,MLI
...,...,...,...,...
133,Drohobych salt plant,1250,CAT12,UKR
134,Mount Gay Rum,1703,CAT9,BRB
135,Belize Bank,1902,CAT3,BLZ
136,Hudson's Bay Company,1670,CAT17,CAN
137,Florida Ice and Farm Company,1908,CAT9,CRI
138,Cubana de Aviación,1929,CAT2,CUB
139,The Chronicle (Dominica),1909,CAT13,DMA
140,HSBC El Salvador,1891,CAT3,SLV
141,Corporación Multi Inversiones,1920,CAT11,GTM
142,Rhum Barbancourt,1862,CAT9,HTI
143,National Railroad of Honduras,1870,CAT2,HND
144,Rose Hall,1770,CAT19,JAM
145,La Casa de Moneda de México,1534,CAT12,MEX
146,Flor de Caña,1890,CAT9,NIC
147,National Bank of Panama,1904,CAT3,PAN
148,1st National Bank of St Lucia,1938,CAT3,LCA
149,House of Angostura,1830,CAT9,TTO
150,Shirley Plantation,1638,CAT1,USA
151,Bank of the Province of Buenos Aires,1822,CAT3,ARG
152,Banco Nacional de Bolivia,1871,CAT3,BOL
153,Casa da Moeda do Brasil,1694,CAT12,BRA
154,Famae,1811,CAT8,CHL
155,Casa de Moneda de Colombia,1621,CAT12,COL
156,Banks DIH,1840,CAT11,GUY
157,Casa Nacional de Moneda,1565,CAT3,PER
158,Cafe Brasilero,1877,CAT4,URY
159,Hacienda Chuao,1660,CAT11,VEN
160,Australia Post,1809,CAT16,AUS
161,Bank of New Zealand,1861,CAT3,NZL
162,European Trust Company,1991,CAT3,VUT

In [184]:
# Merge and filter to find countries with missing business data
new_all_countries = all_businesses.merge(countries, on="country_code", how="outer",  indicator=True)
new_all_countries

,business,year_founded,category_code,country_code,country,continent,_merge
0,Fiji Times,1869.0,CAT13,FJI,Fiji,Oceania,both
1,J. Armando Bermúdez & Co.,1852.0,CAT9,DOM,Dominican Republic,North America,both
2,Hamoud Boualem,1878.0,CAT11,DZA,Algeria,Africa,both
3,Communauté Électrique du Bénin,1968.0,CAT10,BEN,Benin,Africa,both
4,Botswana Meat Commission,1965.0,CAT1,BWA,Botswana,Africa,both
5,Air Burkina,1967.0,CAT2,BFA,Burkina Faso,Africa,both
6,Brarudi,1955.0,CAT9,BDI,Burundi,Africa,both
7,Cameroon Development Corporation,1947.0,CAT1,CMR,Cameroon,Africa,both
8,Correios de Cabo Verde,1849.0,CAT16,CPV,Cabo Verde,Africa,both
9,Banque Internationale pour la Centrafrique,1946.0,CAT3,CAF,Central African Republic,Africa,both
10,Cotontchad,1971.0,CAT1,TCD,Chad,Africa,both
11,Central Bank of the Comoros,1981.0,CAT3,COM,Comoros,Africa,both
12,Société nationale des Chemins de fer du Congo,1889.0,CAT2,COD,"Congo, The Democratic Republic of the",Africa,both
13,Development Bank of the Central African States,1975.0,CAT3,COG,Congo,Africa,both
14,La Poste,1945.0,CAT16,CIV,Côte d'Ivoire,Africa,both
15,Ethio-Djibouti Railways,1901.0,CAT2,DJI,Djibouti,Africa,both
16,Egyptian National Railways,1854.0,CAT2,EGY,Egypt,Africa,both
17,Guinea Ecuatorial Airlines,1996.0,CAT2,GNQ,Equatorial Guinea,Africa,both
18,Asmara Brewery,1939.0,CAT9,ERI,Eritrea,Africa,both
19,National Bank of Ethiopia,1906.0,CAT3,ETH,Ethiopia,Africa,both
20,BGFIBank Group,1971.0,CAT3,GAB,Gabon,Africa,both
21,Halco Mining,1962.0,CAT15,GIN,Guinea,Africa,both
22,Correios da Guiné-Bissau,1973.0,CAT16,GNB,Guinea-Bissau,Africa,both
23,KCB Group Limited,1896.0,CAT3,KEN,Kenya,Africa,both
24,Central Bank of Lesotho,1978.0,CAT3,LSO,Lesotho,Africa,both
25,National Port Authority,1921.0,CAT2,LBR,Liberia,Africa,both
26,Umma Bank,1907.0,CAT3,LBY,Libya,Africa,both
27,Air Madagascar,1962.0,CAT2,MDG,Madagascar,Africa,both
28,Malawi Broadcasting Corporation,1964.0,CAT13,MWI,Malawi,Africa,both
29,Office de Radiodiffusion-Télévision du Mali,1957.0,CAT13,MLI,Mali,Africa,both
...,...,...,...,...,...,...,...
165,NaN,NaN,NaN,AGO,Angola,Africa,right_only
166,NaN,NaN,NaN,ATG,Antigua and Barbuda,North America,right_only
167,NaN,NaN,NaN,BHS,Bahamas,North America,right_only
168,NaN,NaN,NaN,ECU,Ecuador,South America,right_only
169,NaN,NaN,NaN,FSM,"Micronesia, Federated States of",Oceania,right_only
170,NaN,NaN,NaN,GHA,Ghana,Africa,right_only
171,NaN,NaN,NaN,GMB,Gambia,Africa,right_only
172,NaN,NaN,NaN,GRD,Grenada,North America,right_only
173,NaN,NaN,NaN,IRN,"Iran, Islamic Republic of",Asia,right_only
174,NaN,NaN,NaN,KGZ,Kyrgyzstan,Asia,right_only
175,NaN,NaN,NaN,KIR,Kiribati,Oceania,right_only
176,NaN,NaN,NaN,KNA,Saint Kitts and Nevis,North America,right_only
177,NaN,NaN,NaN,MCO,Monaco,Europe,right_only
178,NaN,NaN,NaN,MDA,"Moldova, Republic of",Europe,right_only
179,NaN,NaN,NaN,MDV,Maldives,Asia,right_only
180,NaN,NaN,NaN,MHL,Marshall Islands,Oceania,right_only
181,NaN,NaN,NaN,NRU,Nauru,Oceania,right_only
182,NaN,NaN,NaN,PLW,Palau,Oceania,right_only
183,NaN,NaN,NaN,PNG,Papua New Guinea,Oceania,right_only
184,NaN,NaN,NaN,PRY,Paraguay,South America,right_only
185,NaN,NaN,NaN,PSE,"Palestine, State of",Asia,right_only
186,NaN,NaN,NaN,SLB,Solomon Islands,Oceania,right_only
187,NaN,NaN,NaN,SUR,Suriname,South America,right_only
188,NaN,NaN,NaN,TJK,Tajikistan,Asia,right_only
189,NaN,NaN,NaN,TKM,Turkmenistan,Asia,right_only
190,NaN,NaN,NaN,TLS,Timor-Leste,Asia,right_only
191,NaN,NaN,NaN,TON,Tonga,Oceania,right_only
192,NaN,NaN,NaN,TUV,Tuvalu,Oceania,right_only
193,NaN,NaN,NaN,VCT,Saint Vincent and the Grenadines,North America,right_only
194,NaN,NaN,NaN,WSM,Samoa,Oceania,right_only

In [186]:
new_missing_countries = new_all_countries[new_all_countries["_merge"] != "both"]
new_missing_countries

,business,year_founded,category_code,country_code,country,continent,_merge
165,NaN,NaN,NaN,AGO,Angola,Africa,right_only
166,NaN,NaN,NaN,ATG,Antigua and Barbuda,North America,right_only
167,NaN,NaN,NaN,BHS,Bahamas,North America,right_only
168,NaN,NaN,NaN,ECU,Ecuador,South America,right_only
169,NaN,NaN,NaN,FSM,"Micronesia, Federated States of",Oceania,right_only
170,NaN,NaN,NaN,GHA,Ghana,Africa,right_only
171,NaN,NaN,NaN,GMB,Gambia,Africa,right_only
172,NaN,NaN,NaN,GRD,Grenada,North America,right_only
173,NaN,NaN,NaN,IRN,"Iran, Islamic Republic of",Asia,right_only
174,NaN,NaN,NaN,KGZ,Kyrgyzstan,Asia,right_only
175,NaN,NaN,NaN,KIR,Kiribati,Oceania,right_only
176,NaN,NaN,NaN,KNA,Saint Kitts and Nevis,North America,right_only
177,NaN,NaN,NaN,MCO,Monaco,Europe,right_only
178,NaN,NaN,NaN,MDA,"Moldova, Republic of",Europe,right_only
179,NaN,NaN,NaN,MDV,Maldives,Asia,right_only
180,NaN,NaN,NaN,MHL,Marshall Islands,Oceania,right_only
181,NaN,NaN,NaN,NRU,Nauru,Oceania,right_only
182,NaN,NaN,NaN,PLW,Palau,Oceania,right_only
183,NaN,NaN,NaN,PNG,Papua New Guinea,Oceania,right_only
184,NaN,NaN,NaN,PRY,Paraguay,South America,right_only
185,NaN,NaN,NaN,PSE,"Palestine, State of",Asia,right_only
186,NaN,NaN,NaN,SLB,Solomon Islands,Oceania,right_only
187,NaN,NaN,NaN,SUR,Suriname,South America,right_only
188,NaN,NaN,NaN,TJK,Tajikistan,Asia,right_only
189,NaN,NaN,NaN,TKM,Turkmenistan,Asia,right_only
190,NaN,NaN,NaN,TLS,Timor-Leste,Asia,right_only
191,NaN,NaN,NaN,TON,Tonga,Oceania,right_only
192,NaN,NaN,NaN,TUV,Tuvalu,Oceania,right_only
193,NaN,NaN,NaN,VCT,Saint Vincent and the Grenadines,North America,right_only
194,NaN,NaN,NaN,WSM,Samoa,Oceania,right_only

In [187]:
# Group by continent and create a "count_missing" column
count_missing = new_missing_countries.groupby("continent").agg({"country":"count"})
count_missing

               country
continent
Africa               3
Asia                 7
Europe               2
North America        5
Oceania             10
South America        3

In [188]:
count_missing.columns = ["count_missing"]
count_missing

               count_missing
continent
Africa                     3
Asia                       7
Europe                     2
North America              5
Oceania                   10
South America              3

## 6. The oldest industries
<p>Remember our oldest business in the world, Kongō Gumi? </p>
<table>
<thead>
<tr>
<th style="text-align:right;"></th>
<th style="text-align:left;">business</th>
<th style="text-align:right;">year_founded</th>
<th style="text-align:left;">category_code</th>
<th style="text-align:left;">country_code</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:right;">64</td>
<td style="text-align:left;">Kongō Gumi</td>
<td style="text-align:right;">578</td>
<td style="text-align:left;">CAT6</td>
<td style="text-align:left;">JPN</td>
</tr>
</tbody>
</table>
<p>We know Kongō Gumi was founded in the year 578 in Japan, but it's a little hard to decipher which industry it's in. Information about what the <code>category_code</code> column refers to is in <code>"datasets/categories.csv"</code>: </p>
<h3 id="categories"><code>categories</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>category_code</code></td>
<td>varchar</td>
<td>Code for the category of the business.</td>
</tr>
<tr>
<td style="text-align:left;"><code>category</code></td>
<td>varchar</td>
<td>Description of the business category.</td>
</tr>
</tbody>
</table>
<p>Let's use <code>categories.csv</code> to understand how many oldest businesses are in each category of industry.</p>

In [189]:
# Import categories.csv and merge to businesses
categories=pd.read_csv("datasets/categories.csv")
categories

   category_code                           category
0           CAT1                        Agriculture
1           CAT2               Aviation & Transport
2           CAT3                  Banking & Finance
3           CAT4          Cafés, Restaurants & Bars
4           CAT5                       Conglomerate
5           CAT6                       Construction
6           CAT7                     Consumer Goods
7           CAT8                            Defense
8           CAT9  Distillers, Vintners, & Breweries
9          CAT10                             Energy
10         CAT11                   Food & Beverages
11         CAT12         Manufacturing & Production
12         CAT13                              Media
13         CAT14                            Medical
14         CAT15                             Mining
15         CAT16                     Postal Service
16         CAT17                             Retail
17         CAT18                 Telecommunications
18         CAT19                   Tourism & Hotels

In [190]:

businesses_categories=businesses.merge(categories,on='category_code',)
businesses_categories

,business,year_founded,category_code,country_code,category
0,Hamoud Boualem,1878,CAT11,DZA,Food & Beverages
1,M. M. Ispahani Limited,1820,CAT11,BGD,Food & Beverages
2,George Steuart Group,1835,CAT11,LKA,Food & Beverages
3,Corporación Multi Inversiones,1920,CAT11,GTM,Food & Beverages
4,Banks DIH,1840,CAT11,GUY,Food & Beverages
5,Hacienda Chuao,1660,CAT11,VEN,Food & Beverages
6,Communauté Électrique du Bénin,1968,CAT10,BEN,Energy
7,North Oil Company,1928,CAT10,IRQ,Energy
8,Electricite du Laos,1959,CAT10,LAO,Energy
9,Petroleum Development Oman,1937,CAT10,OMN,Energy
10,Botswana Meat Commission,1965,CAT1,BWA,Agriculture
11,Cameroon Development Corporation,1947,CAT1,CMR,Agriculture
12,Cotontchad,1971,CAT1,TCD,Agriculture
13,Spinzar Cotton Company,1930,CAT1,AFG,Agriculture
14,Casa de Ganaderos,1218,CAT1,ESP,Agriculture
15,Shirley Plantation,1638,CAT1,USA,Agriculture
16,Air Burkina,1967,CAT2,BFA,Aviation & Transport
17,Société nationale des Chemins de fer du Congo,1889,CAT2,COD,Aviation & Transport
18,Ethio-Djibouti Railways,1901,CAT2,DJI,Aviation & Transport
19,Egyptian National Railways,1854,CAT2,EGY,Aviation & Transport
20,Guinea Ecuatorial Airlines,1996,CAT2,GNQ,Aviation & Transport
21,National Port Authority,1921,CAT2,LBR,Aviation & Transport
22,Air Madagascar,1962,CAT2,MDG,Aviation & Transport
23,Beira Railroad Corporation,1892,CAT2,MOZ,Aviation & Transport
24,Dakar–Niger Railway,1924,CAT2,SEN,Aviation & Transport
25,Air Seychelles,1977,CAT2,SYC,Aviation & Transport
26,Swazi Rail,1963,CAT2,SWZ,Aviation & Transport
27,Azerbaijan Caspian Shipping Company,1858,CAT2,AZE,Aviation & Transport
28,Tashi Group,1959,CAT2,BTN,Aviation & Transport
29,Myanmar National Airlines,1948,CAT2,MMR,Aviation & Transport
...,...,...,...,...,...
133,Casa da Moeda do Brasil,1694,CAT12,BRA,Manufacturing & Production
134,Casa de Moneda de Colombia,1621,CAT12,COL,Manufacturing & Production
135,BMMI,1883,CAT17,BHR,Retail
136,Hua Ho Department Store,1947,CAT17,BRN,Retail
137,M.H. Alshaya Co.,1890,CAT17,KWT,Retail
138,Hudson's Bay Company,1670,CAT17,CAN,Retail
139,Ma Yu Ching's Bucket Chicken House,1153,CAT4,CHN,"Cafés, Restaurants & Bars"
140,Café Abu Salem,1914,CAT4,ISR,"Cafés, Restaurants & Bars"
141,Bakdash,1885,CAT4,SYR,"Cafés, Restaurants & Bars"
142,St. Peter Stifts Kulinarium,803,CAT4,AUT,"Cafés, Restaurants & Bars"
143,Sean's Bar,900,CAT4,IRL,"Cafés, Restaurants & Bars"
144,Cafe Brasilero,1877,CAT4,URY,"Cafés, Restaurants & Bars"
145,Pindad,1808,CAT8,IDN,Defense
146,Arsenal AD,1878,CAT8,BGR,Defense
147,Famae,1811,CAT8,CHL,Defense
148,Kongō Gumi,578,CAT6,JPN,Construction
149,House of Alireza,1845,CAT6,SAU,Construction
150,House of Habib,1841,CAT5,PAK,Conglomerate
151,Salam International Investment Limited,1952,CAT5,QAT,Conglomerate
152,B.Grimm Group,1878,CAT5,THA,Conglomerate
153,Petrodvorets Watch Factory,1721,CAT7,RUS,Consumer Goods
154,Fiskars,1649,CAT7,FIN,Consumer Goods
155,Tutunski kombinat Prilep,1873,CAT7,MKD,Consumer Goods
156,KT Corporation,1885,CAT18,KOR,Telecommunications
157,ALBtelecom,1912,CAT18,ALB,Telecommunications
158,Raeapteek,1422,CAT14,EST,Medical
159,Gostilna Gastuž,1467,CAT19,SVN,Tourism & Hotels
160,Gasthof Sternen,1230,CAT19,CHE,Tourism & Hotels
161,Çemberlitaş Hamamı,1584,CAT19,TUR,Tourism & Hotels
162,Rose Hall,1770,CAT19,JAM,Tourism & Hotels

In [191]:
# Create a DataFrame which lists the number of oldest businesses in each category
count_business_cats=businesses_categories.groupby('category').agg({'business':'count'})
count_business_cats

                                   business
category
Agriculture                               6
Aviation & Transport                     19
Banking & Finance                        37
Cafés, Restaurants & Bars                 6
Conglomerate                              3
Construction                              2
Consumer Goods                            3
Defense                                   3
Distillers, Vintners, & Breweries        22
Energy                                    4
Food & Beverages                          6
Manufacturing & Production               15
Media                                     7
Medical                                   1
Mining                                    3
Postal Service                           16
Retail                                    4
Telecommunications                        2
Tourism & Hotels                          4

In [192]:
# Create a DataFrame which lists the cumulative years that businesses from each category have been operating
years_business_cats=businesses_categories.groupby('category').agg({'year_founded':'sum'})
years_business_cats

                                   year_founded
category
Agriculture                               10669
Aviation & Transport                      36598
Banking & Finance                         70302
Cafés, Restaurants & Bars                  8532
Conglomerate                               5671
Construction                               2423
Consumer Goods                             5243
Defense                                    5497
Distillers, Vintners, & Breweries         37292
Energy                                     7792
Food & Beverages                          10953
Manufacturing & Production                21854
Media                                     13663
Medical                                    1422
Mining                                     5123
Postal Service                            29113
Retail                                     7390
Telecommunications                         3797
Tourism & Hotels                           6051

In [193]:
count_business_cats.columns=['count']
years_business_cats.columns= ['total_years_in_business']
display(count_business_cats.head(), years_business_cats.head())

                           count
category
Agriculture                    6
Aviation & Transport          19
Banking & Finance             37
Cafés, Restaurants & Bars      6
Conglomerate                   3

                           total_years_in_business
category
Agriculture                                  10669
Aviation & Transport                         36598
Banking & Finance                            70302
Cafés, Restaurants & Bars                     8532
Conglomerate                                  5671

## 7. Restaurant representation
<p>No matter how we measure it, looks like Banking and Finance is an excellent industry to be in if longevity is our goal! Let's zoom in on another industry: cafés, restaurants, and bars. Which restaurants in our dataset have been around since before the year 1800?</p>

In [195]:
businesses_categories

,business,year_founded,category_code,country_code,category
0,Hamoud Boualem,1878,CAT11,DZA,Food & Beverages
1,M. M. Ispahani Limited,1820,CAT11,BGD,Food & Beverages
2,George Steuart Group,1835,CAT11,LKA,Food & Beverages
3,Corporación Multi Inversiones,1920,CAT11,GTM,Food & Beverages
4,Banks DIH,1840,CAT11,GUY,Food & Beverages
5,Hacienda Chuao,1660,CAT11,VEN,Food & Beverages
6,Communauté Électrique du Bénin,1968,CAT10,BEN,Energy
7,North Oil Company,1928,CAT10,IRQ,Energy
8,Electricite du Laos,1959,CAT10,LAO,Energy
9,Petroleum Development Oman,1937,CAT10,OMN,Energy
10,Botswana Meat Commission,1965,CAT1,BWA,Agriculture
11,Cameroon Development Corporation,1947,CAT1,CMR,Agriculture
12,Cotontchad,1971,CAT1,TCD,Agriculture
13,Spinzar Cotton Company,1930,CAT1,AFG,Agriculture
14,Casa de Ganaderos,1218,CAT1,ESP,Agriculture
15,Shirley Plantation,1638,CAT1,USA,Agriculture
16,Air Burkina,1967,CAT2,BFA,Aviation & Transport
17,Société nationale des Chemins de fer du Congo,1889,CAT2,COD,Aviation & Transport
18,Ethio-Djibouti Railways,1901,CAT2,DJI,Aviation & Transport
19,Egyptian National Railways,1854,CAT2,EGY,Aviation & Transport
20,Guinea Ecuatorial Airlines,1996,CAT2,GNQ,Aviation & Transport
21,National Port Authority,1921,CAT2,LBR,Aviation & Transport
22,Air Madagascar,1962,CAT2,MDG,Aviation & Transport
23,Beira Railroad Corporation,1892,CAT2,MOZ,Aviation & Transport
24,Dakar–Niger Railway,1924,CAT2,SEN,Aviation & Transport
25,Air Seychelles,1977,CAT2,SYC,Aviation & Transport
26,Swazi Rail,1963,CAT2,SWZ,Aviation & Transport
27,Azerbaijan Caspian Shipping Company,1858,CAT2,AZE,Aviation & Transport
28,Tashi Group,1959,CAT2,BTN,Aviation & Transport
29,Myanmar National Airlines,1948,CAT2,MMR,Aviation & Transport
...,...,...,...,...,...
133,Casa da Moeda do Brasil,1694,CAT12,BRA,Manufacturing & Production
134,Casa de Moneda de Colombia,1621,CAT12,COL,Manufacturing & Production
135,BMMI,1883,CAT17,BHR,Retail
136,Hua Ho Department Store,1947,CAT17,BRN,Retail
137,M.H. Alshaya Co.,1890,CAT17,KWT,Retail
138,Hudson's Bay Company,1670,CAT17,CAN,Retail
139,Ma Yu Ching's Bucket Chicken House,1153,CAT4,CHN,"Cafés, Restaurants & Bars"
140,Café Abu Salem,1914,CAT4,ISR,"Cafés, Restaurants & Bars"
141,Bakdash,1885,CAT4,SYR,"Cafés, Restaurants & Bars"
142,St. Peter Stifts Kulinarium,803,CAT4,AUT,"Cafés, Restaurants & Bars"
143,Sean's Bar,900,CAT4,IRL,"Cafés, Restaurants & Bars"
144,Cafe Brasilero,1877,CAT4,URY,"Cafés, Restaurants & Bars"
145,Pindad,1808,CAT8,IDN,Defense
146,Arsenal AD,1878,CAT8,BGR,Defense
147,Famae,1811,CAT8,CHL,Defense
148,Kongō Gumi,578,CAT6,JPN,Construction
149,House of Alireza,1845,CAT6,SAU,Construction
150,House of Habib,1841,CAT5,PAK,Conglomerate
151,Salam International Investment Limited,1952,CAT5,QAT,Conglomerate
152,B.Grimm Group,1878,CAT5,THA,Conglomerate
153,Petrodvorets Watch Factory,1721,CAT7,RUS,Consumer Goods
154,Fiskars,1649,CAT7,FIN,Consumer Goods
155,Tutunski kombinat Prilep,1873,CAT7,MKD,Consumer Goods
156,KT Corporation,1885,CAT18,KOR,Telecommunications
157,ALBtelecom,1912,CAT18,ALB,Telecommunications
158,Raeapteek,1422,CAT14,EST,Medical
159,Gostilna Gastuž,1467,CAT19,SVN,Tourism & Hotels
160,Gasthof Sternen,1230,CAT19,CHE,Tourism & Hotels
161,Çemberlitaş Hamamı,1584,CAT19,TUR,Tourism & Hotels
162,Rose Hall,1770,CAT19,JAM,Tourism & Hotels

In [196]:
# Filter using .query() for CAT4 businesses founded before 1800; sort results
old_restaurants = businesses_categories.query('year_founded < 1800 and category_code == "CAT4"')
old_restaurants

,business,year_founded,category_code,country_code,category
139,Ma Yu Ching's Bucket Chicken House,1153,CAT4,CHN,"Cafés, Restaurants & Bars"
142,St. Peter Stifts Kulinarium,803,CAT4,AUT,"Cafés, Restaurants & Bars"
143,Sean's Bar,900,CAT4,IRL,"Cafés, Restaurants & Bars"

In [197]:
# Sort the DataFrame
old_restaurants = old_restaurants.sort_values('year_founded')
old_restaurants

,business,year_founded,category_code,country_code,category
142,St. Peter Stifts Kulinarium,803,CAT4,AUT,"Cafés, Restaurants & Bars"
143,Sean's Bar,900,CAT4,IRL,"Cafés, Restaurants & Bars"
139,Ma Yu Ching's Bucket Chicken House,1153,CAT4,CHN,"Cafés, Restaurants & Bars"

## 8. Categories and continents
<p>St. Peter Stifts Kulinarium is old enough that the restaurant is believed to have served Mozart - and it would have been over 900 years old even when he was a patron! Let's finish by looking at the oldest business in each category of commerce for each continent. </p>

In [199]:
# Merge all businesses, countries, and categories together
businesses_categories_countries = businesses_categories.merge(countries,on='country_code')
businesses_categories_countries

,business,year_founded,category_code,country_code,category,country,continent
0,Hamoud Boualem,1878,CAT11,DZA,Food & Beverages,Algeria,Africa
1,M. M. Ispahani Limited,1820,CAT11,BGD,Food & Beverages,Bangladesh,Asia
2,George Steuart Group,1835,CAT11,LKA,Food & Beverages,Sri Lanka,Asia
3,Corporación Multi Inversiones,1920,CAT11,GTM,Food & Beverages,Guatemala,North America
4,Banks DIH,1840,CAT11,GUY,Food & Beverages,Guyana,South America
5,Hacienda Chuao,1660,CAT11,VEN,Food & Beverages,"Venezuela, Bolivarian Republic of",South America
6,Communauté Électrique du Bénin,1968,CAT10,BEN,Energy,Benin,Africa
7,North Oil Company,1928,CAT10,IRQ,Energy,Iraq,Asia
8,Electricite du Laos,1959,CAT10,LAO,Energy,Lao People's Democratic Republic,Asia
9,Petroleum Development Oman,1937,CAT10,OMN,Energy,Oman,Asia
10,Botswana Meat Commission,1965,CAT1,BWA,Agriculture,Botswana,Africa
11,Cameroon Development Corporation,1947,CAT1,CMR,Agriculture,Cameroon,Africa
12,Cotontchad,1971,CAT1,TCD,Agriculture,Chad,Africa
13,Spinzar Cotton Company,1930,CAT1,AFG,Agriculture,Afghanistan,Asia
14,Casa de Ganaderos,1218,CAT1,ESP,Agriculture,Spain,Europe
15,Shirley Plantation,1638,CAT1,USA,Agriculture,United States,North America
16,Air Burkina,1967,CAT2,BFA,Aviation & Transport,Burkina Faso,Africa
17,Société nationale des Chemins de fer du Congo,1889,CAT2,COD,Aviation & Transport,"Congo, The Democratic Republic of the",Africa
18,Ethio-Djibouti Railways,1901,CAT2,DJI,Aviation & Transport,Djibouti,Africa
19,Egyptian National Railways,1854,CAT2,EGY,Aviation & Transport,Egypt,Africa
20,Guinea Ecuatorial Airlines,1996,CAT2,GNQ,Aviation & Transport,Equatorial Guinea,Africa
21,National Port Authority,1921,CAT2,LBR,Aviation & Transport,Liberia,Africa
22,Air Madagascar,1962,CAT2,MDG,Aviation & Transport,Madagascar,Africa
23,Beira Railroad Corporation,1892,CAT2,MOZ,Aviation & Transport,Mozambique,Africa
24,Dakar–Niger Railway,1924,CAT2,SEN,Aviation & Transport,Senegal,Africa
25,Air Seychelles,1977,CAT2,SYC,Aviation & Transport,Seychelles,Asia
26,Swazi Rail,1963,CAT2,SWZ,Aviation & Transport,Eswatini,Africa
27,Azerbaijan Caspian Shipping Company,1858,CAT2,AZE,Aviation & Transport,Azerbaijan,Asia
28,Tashi Group,1959,CAT2,BTN,Aviation & Transport,Bhutan,Asia
29,Myanmar National Airlines,1948,CAT2,MMR,Aviation & Transport,Myanmar,Asia
...,...,...,...,...,...,...,...
133,Casa da Moeda do Brasil,1694,CAT12,BRA,Manufacturing & Production,Brazil,South America
134,Casa de Moneda de Colombia,1621,CAT12,COL,Manufacturing & Production,Colombia,South America
135,BMMI,1883,CAT17,BHR,Retail,Bahrain,Asia
136,Hua Ho Department Store,1947,CAT17,BRN,Retail,Brunei Darussalam,Asia
137,M.H. Alshaya Co.,1890,CAT17,KWT,Retail,Kuwait,Asia
138,Hudson's Bay Company,1670,CAT17,CAN,Retail,Canada,North America
139,Ma Yu Ching's Bucket Chicken House,1153,CAT4,CHN,"Cafés, Restaurants & Bars",China,Asia
140,Café Abu Salem,1914,CAT4,ISR,"Cafés, Restaurants & Bars",Israel,Asia
141,Bakdash,1885,CAT4,SYR,"Cafés, Restaurants & Bars",Syrian Arab Republic,Asia
142,St. Peter Stifts Kulinarium,803,CAT4,AUT,"Cafés, Restaurants & Bars",Austria,Europe
143,Sean's Bar,900,CAT4,IRL,"Cafés, Restaurants & Bars",Ireland,Europe
144,Cafe Brasilero,1877,CAT4,URY,"Cafés, Restaurants & Bars",Uruguay,South America
145,Pindad,1808,CAT8,IDN,Defense,Indonesia,Asia
146,Arsenal AD,1878,CAT8,BGR,Defense,Bulgaria,Europe
147,Famae,1811,CAT8,CHL,Defense,Chile,South America
148,Kongō Gumi,578,CAT6,JPN,Construction,Japan,Asia
149,House of Alireza,1845,CAT6,SAU,Construction,Saudi Arabia,Asia
150,House of Habib,1841,CAT5,PAK,Conglomerate,Pakistan,Asia
151,Salam International Investment Limited,1952,CAT5,QAT,Conglomerate,Qatar,Asia
152,B.Grimm Group,1878,CAT5,THA,Conglomerate,Thailand,Asia
153,Petrodvorets Watch Factory,1721,CAT7,RUS,Consumer Goods,Russian Federation,Europe
154,Fiskars,1649,CAT7,FIN,Consumer Goods,Finland,Europe
155,Tutunski kombinat Prilep,1873,CAT7,MKD,Consumer Goods,North Macedonia,Europe
156,KT Corporation,1885,CAT18,KOR,Telecommunications,"Korea, Republic of",Asia
157,ALBtelecom,1912,CAT18,ALB,Telecommunications,Albania,Europe
158,Raeapteek,1422,CAT14,EST,Medical,Estonia,Europe
159,Gostilna Gastuž,1467,CAT19,SVN,Tourism & Hotels,Slovenia,Europe
160,Gasthof Sternen,1230,CAT19,CHE,Tourism & Hotels,Switzerland,Europe
161,Çemberlitaş Hamamı,1584,CAT19,TUR,Tourism & Hotels,Turkey,Asia
162,Rose Hall,1770,CAT19,JAM,Tourism & Hotels,Jamaica,North America

In [200]:
# Sort businesses_categories_countries from oldest to most recent
businesses_categories_countries = businesses_categories_countries.sort_values('year_founded')
businesses_categories_countries

,business,year_founded,category_code,country_code,category,country,continent
148,Kongō Gumi,578,CAT6,JPN,Construction,Japan,Asia
142,St. Peter Stifts Kulinarium,803,CAT4,AUT,"Cafés, Restaurants & Bars",Austria,Europe
44,Staffelter Hof Winery,862,CAT9,DEU,"Distillers, Vintners, & Breweries",Germany,Europe
127,Monnaie de Paris,864,CAT12,FRA,Manufacturing & Production,France,Europe
126,The Royal Mint,886,CAT12,GBR,Manufacturing & Production,United Kingdom,Europe
143,Sean's Bar,900,CAT4,IRL,"Cafés, Restaurants & Bars",Ireland,Europe
128,Marinelli Bell Foundry,1040,CAT12,ITA,Manufacturing & Production,Italy,Europe
41,Affligem Brewery,1074,CAT9,BEL,"Distillers, Vintners, & Breweries",Belgium,Europe
125,Munke Mølle,1135,CAT12,DNK,Manufacturing & Production,Denmark,Europe
139,Ma Yu Ching's Bucket Chicken House,1153,CAT4,CHN,"Cafés, Restaurants & Bars",China,Asia
14,Casa de Ganaderos,1218,CAT1,ESP,Agriculture,Spain,Europe
160,Gasthof Sternen,1230,CAT19,CHE,Tourism & Hotels,Switzerland,Europe
112,Bochnia Salt Mine,1248,CAT15,POL,Mining,Poland,Europe
131,Drohobych salt plant,1250,CAT12,UKR,Manufacturing & Production,Ukraine,Europe
129,Kremnica Mint,1328,CAT12,SVK,Manufacturing & Production,Slovakia,Europe
49,The Brand Brewery,1340,CAT9,NLD,"Distillers, Vintners, & Breweries",Netherlands,Europe
130,Skyllbergs bruk,1346,CAT12,SWE,Manufacturing & Production,Sweden,Europe
43,Pivovar Broumov,1348,CAT9,CZE,"Distillers, Vintners, & Breweries",Czechia,Europe
158,Raeapteek,1422,CAT14,EST,Medical,Estonia,Europe
159,Gostilna Gastuž,1467,CAT19,SVN,Tourism & Hotels,Slovenia,Europe
48,Mousel,1511,CAT9,LUX,"Distillers, Vintners, & Breweries",Luxembourg,Europe
71,CTT-Correios de Portugal SA,1520,CAT16,PRT,Postal Service,Portugal,Europe
132,La Casa de Moneda de México,1534,CAT12,MEX,Manufacturing & Production,Mexico,North America
107,Casa Nacional de Moneda,1565,CAT3,PER,Banking & Finance,Peru,South America
161,Çemberlitaş Hamamı,1584,CAT19,TUR,Tourism & Hotels,Turkey,Asia
46,Cēsu Alus,1590,CAT9,LVA,"Distillers, Vintners, & Breweries",Latvia,Europe
98,Piraeus Bank,1606,CAT3,GRC,Banking & Finance,Greece,Europe
134,Casa de Moneda de Colombia,1621,CAT12,COL,Manufacturing & Production,Colombia,South America
15,Shirley Plantation,1638,CAT1,USA,Agriculture,United States,North America
70,Posten Norge,1647,CAT16,NOR,Postal Service,Norway,Europe
...,...,...,...,...,...,...,...
136,Hua Ho Department Store,1947,CAT17,BRN,Retail,Brunei Darussalam,Asia
29,Myanmar National Airlines,1948,CAT2,MMR,Aviation & Transport,Myanmar,Asia
151,Salam International Investment Limited,1952,CAT5,QAT,Conglomerate,Qatar,Asia
90,National Bank of Cambodia,1954,CAT3,KHM,Banking & Finance,Cambodia,Asia
35,Brarudi,1955,CAT9,BDI,"Distillers, Vintners, & Breweries",Burundi,Africa
114,Office de Radiodiffusion-Télévision du Mali,1957,CAT13,MLI,Media,Mali,Africa
8,Electricite du Laos,1959,CAT10,LAO,Energy,Lao People's Democratic Republic,Asia
28,Tashi Group,1959,CAT2,BTN,Aviation & Transport,Bhutan,Asia
115,Office of Radio and Television of Niger,1960,CAT13,NER,Media,Niger,Africa
32,Yemenia Airways,1962,CAT2,YEM,Aviation & Transport,Yemen,Asia
110,Halco Mining,1962,CAT15,GIN,Mining,Guinea,Africa
22,Air Madagascar,1962,CAT2,MDG,Aviation & Transport,Madagascar,Africa
26,Swazi Rail,1963,CAT2,SWZ,Aviation & Transport,Eswatini,Africa
113,Malawi Broadcasting Corporation,1964,CAT13,MWI,Media,Malawi,Africa
10,Botswana Meat Commission,1965,CAT1,BWA,Agriculture,Botswana,Africa
16,Air Burkina,1967,CAT2,BFA,Aviation & Transport,Burkina Faso,Africa
6,Communauté Électrique du Bénin,1968,CAT10,BEN,Energy,Benin,Africa
77,BGFIBank Group,1971,CAT3,GAB,Banking & Finance,Gabon,Africa
12,Cotontchad,1971,CAT1,TCD,Agriculture,Chad,Africa
59,Correios da Guiné-Bissau,1973,CAT16,GNB,Postal Service,Guinea-Bissau,Africa
81,Central Bank of Mauritania,1973,CAT3,MRT,Banking & Finance,Mauritania,Africa
84,Central Bank of São Tomé and Príncipe,1975,CAT3,STP,Banking & Finance,Sao Tome and Principe,Africa
75,Development Bank of the Central African States,1975,CAT3,COG,Banking & Finance,Congo,Africa
25,Air Seychelles,1977,CAT2,SYC,Aviation & Transport,Seychelles,Asia
79,Central Bank of Lesotho,1978,CAT3,LSO,Banking & Finance,Lesotho,Africa
74,Central Bank of the Comoros,1981,CAT3,COM,Banking & Finance,Comoros,Africa
109,European Trust Company,1991,CAT3,VUT,Banking & Finance,Vanuatu,Oceania
86,Ivory Bank,1994,CAT3,SSD,Banking & Finance,South Sudan,Africa
20,Guinea Ecuatorial Airlines,1996,CAT2,GNQ,Aviation & Transport,Equatorial Guinea,Africa
118,Meridian Corporation,1999,CAT13,XK,Media,Kosovo,Europe

In [201]:
# Create the oldest by continent and category DataFrame
oldest_by_continent_category =  businesses_categories_countries.groupby(["continent", "category"]).agg({"year_founded":"min"})
oldest_by_continent_category

                                                 year_founded
continent     category
Africa        Agriculture                                1947
              Aviation & Transport                       1854
              Banking & Finance                          1892
              Distillers, Vintners, & Breweries          1933
              Energy                                     1968
              Food & Beverages                           1878
              Manufacturing & Production                 1820
              Media                                      1943
              Mining                                     1962
              Postal Service                             1772
Asia          Agriculture                                1930
              Aviation & Transport                       1858
              Banking & Finance                          1830
              Cafés, Restaurants & Bars                  1153
              Conglomerate                               1841
              Construction                                578
              Defense                                    1808
              Distillers, Vintners, & Breweries          1853
              Energy                                     1928
              Food & Beverages                           1820
              Manufacturing & Production                 1736
              Media                                      1931
              Mining                                     1913
              Postal Service                             1800
              Retail                                     1883
              Telecommunications                         1885
              Tourism & Hotels                           1584
Europe        Agriculture                                1218
              Banking & Finance                          1606
              Cafés, Restaurants & Bars                   803
              Consumer Goods                             1649
              Defense                                    1878
              Distillers, Vintners, & Breweries           862
              Manufacturing & Production                  864
              Media                                      1999
              Medical                                    1422
              Mining                                     1248
              Postal Service                             1520
              Telecommunications                         1912
              Tourism & Hotels                           1230
North America Agriculture                                1638
              Aviation & Transport                       1870
              Banking & Finance                          1891
              Distillers, Vintners, & Breweries          1703
              Food & Beverages                           1920
              Manufacturing & Production                 1534
              Media                                      1909
              Retail                                     1670
              Tourism & Hotels                           1770
Oceania       Banking & Finance                          1861
              Postal Service                             1809
South America Banking & Finance                          1565
              Cafés, Restaurants & Bars                  1877
              Defense                                    1811
              Food & Beverages                           1660
              Manufacturing & Production                 1621